{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Créer un member{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.pseudo) }}
    {{ form_row(form.firstname)}}
    {{ form_row(form.lastname)}}
    {{ form_row(form.email) }}
    {{ form_row(form.plainpassword) }}
    {{ form_row(form.avatar) }}
    {{ form_row(form.status) }}

    <div class="text-right">
        <button type="submit" class="button standard">
            Enregistrer
        </button>
        <a href="{{ path('app_admin_member_index') }}"
           class="button standard">
            Retour
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        $(function () {
            bsCustomFileInput.init();
        });
    </script>
{% endblock %}