{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.body) }}

    <div class="text-right">
        <button type="submit" class="button standard">
            Envoyer
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}
