{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Commentaires</h1>
    <section id="comment-search">
        <div class="card bg-light mb-3">
            <div class="card-body">
                    {{ form_start(searchForm ) }}

                    <div class="col-md-6">
                        {{ form_row(searchForm.pseudo) }}
                    </div>

                    <div class="col-md-6">
                        {{ form_row(searchForm.start_date) }}
                    </div>

                    <div class="col-md-6">
                        {{ form_row(searchForm.end_date) }}
                    </div>

                    <div class="text-right">
                        <button type="submit" class="button standard">
                            Rechercher
                        </button>
                    </div>
                    {{ form_end(searchForm) }}
                </div>
        </div>
    </section>
    <div class="table-responsive">

        <table class="table-list" >
            <tr style="text-align: center">
                <th>ID</th>
                <th>Utilisateur</th>
                <th>Commentaire</th>
                <th>Date</th>
                <th></th><th></th>
            </tr>
            {% if comments is empty %}
                    <p>Aucun résultat !!!</p>
            {% else %}
                {% for comment in comments  %}
            <tr>
                <td>{{ comment.id}}</td>
                <td>{{ comment.userid.pseudo}}</td>
                <td>{{ comment.comment }}</td>
                <td>{{ comment.date|date('d/m/Y') }}</td>
                <td>
                    {% if app.user is null %}
                        <p> Vous devez être connecté pour supprimer !!</p>
                </td>

                    {% else %}
                <td>
                    <a class="button delete  " href="{{ path ('app_admin_comment_delete',{'id':comment.id})}}" >suprimer</a>

                 </td>
                    {% endif %}
                {% endfor %}
             {% endif %}
            </tr>
        </table>
    </div>
{% endblock %}
