{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
    <h2>Commentaires sur l'article"{{ article.title }}"</h2>
    <a class="btn btn-outline-primary mb-3" href="{{ path('app_article_index') }}">
        Retour aux articles
    </a>
       <table class="table table-stripped">
        <tr class="table-dark">
            <th>Utilisateur</th>
            <th>Contenu</th>
            <th width="150px"></th>

        </tr>
        {% for comment in article.comments %}
        <tr>
            <td>{{ comment.userid }}</td>
            <td>{{ comment.comment }}</td>

            <td>
                <a href="{{ path ('app_admin_comment_modification',{'id':comment.id})}}"
                   class="btn btn-warning">
                    Modifier
                </a>
            </td>
                <td>
                <a href="{{ path ('app_admin_comment_delete',{'id':comment.id})}}"
                   class="btn btn-danger">
                    Supprimer
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4" class="text-center">
                Aucun commentaire pour cet article
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
