{% extends 'base.html.twig' %}

{% block body %}
    <h2>Commentaires</h2>
    {% if app.user is null %}
        <div class="message warning">
            Vous devez être connecté pour écrire un commentaire
        </div>
    {% else %}
        {{ form_start(form) }}
        {{ form_row(form.comment) }}
        <div class="text-right">
            <button type="submit" class="button standard">
                Enregistrer
            </button>
            {{ form_end(form) }}
        </div>
    {% endif %}
    {% for comment in comments %}
    <h5>
        {{ comment.userid }}
    </h5>
    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ comment.comment|nl2br }}
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

