<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}BlogTrotter{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> <!-- balise responsive -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> <!-- balise compatibilité vieux navigateurs  -->
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js">
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <div class="header_top">
                    <div class="header_middle">
                        <img src="{{ asset('img/logo_site.png') }}" alt="logo_du_site">
                        <div>
                            <h1>Blog-Trotter</h1>
                            <p>Le monde à portée de clic</p>
                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a class="button" id="top" href="{{ path('app_index_index') }}">
                                    Accueil
                                </a>
                            </li>
                            <li>
                                <a class="button" href="{{ path('app_about_index') }}">
                                    A propos
                                </a>
                            </li>
                            <li>
                                <a class="button" href="{{ path('app_index_contact') }}">
                                    Contact
                                </a>
                            </li>
                            {# app.user = l'utilisateur connecté #}
                            {% if app.user is null %}
                            <li>
                                <a class="button" href="{{ path('app_user_register') }}">
                                    Inscription
                                </a>
                            </li>
                            <li>
                                <a class="button" href="{{ path('app_user_login') }}">
                                    Connexion
                                </a>
                            </li>
                            {% else %}
                            <li class="sous_menu">
                                <span>
                                    <a class="button" href="#">
                                        {% if app.user.avatar is null %}
                                            <img src="{{ asset('photo/profile.png') }}" alt="Avatar">
                                        {% else %}
                                            <img src="{{ asset('photo/' ~ app.user.avatarFileName) }}" alt="Avatar">
                                        {% endif %}
                                        {{ app.user.pseudo }}
                                    </a>
                                </span>
                                <ul>
                                    <li>
                                        <a class="button" href="{{ path('app_article_addeditarticle') }}">
                                            Créer un article
                                        </a>
                                    </li>
                                    <li>
                                        <a class="button" href="{{ path('app_article_index') }}">
                                            Mes articles
                                        </a>
                                    </li>
                                    <li>
                                        <a class="button" href="{{ path('app_user_info', {'id': app.user.id}) }}">
                                            Mes informations
                                        </a>
                                    </li>
                                    <li>
                                        <a class="button" href="{{ path('app_user_passedit', {'id': app.user.id}) }}">
                                            Modifier mon mot de passe
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="sous_menu">
                                <span>
                                    <a class="button" href="#">
                                        Administration
                                    </a>
                                </span>
                                <ul>
                                    <li>
                                        <a class="button" href="{{ path('app_article_index') }}">
                                            Gestion des articles
                                        </a>
                                    </li>
                                    <li>
                                        <a class="button" href="{{ path('app_admin_comment_searchcomment')}}">
                                            Gestion des commentaires
                                        </a>
                                    </li>
                                    <li>
                                        <a class="button" href="{{ path('app_admin_member_index') }}">
                                            Gestion des membres
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                            <li>
                                <a class="button" href="{{ path('app_user_logout') }}">
                                    Déconnexion
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

            </div>
        </header>
        <main>
            <div class="container">
                {# affichage des messages flash #}
                {% for type, messages in app.session.flashBag.all %}
{#                    #}{# pour la classe alert-danger de bootstrap #}
{#                    {% if type == 'error' %}#}
{#                        {% set type = 'danger' %}#}
{#                    {% endif %}#}

                    {% for message in messages %}
                        <div class="message {{ type }}">
                            {{ message|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}

            {% block body %}{% endblock %}
            </div>
        </main>
        <footer>
            <div class="container">
                <nav>
                    <a href="#top">Haut de la page</a> <span>⋅</span>
                    <a href="{{ path('app_index_index') }}">Accueil</a> <span>⋅</span>
                    <a href="{{ path('app_cgu_index') }}">CGU</a> <span>⋅</span>
                    <a href="{{ path('app_legal_index') }}">Mentions légales et condidentialité</a>
                </nav>
                <p><small>BlogTrotter &copy; {{ "now"|date('Y') }}. Tous droits réservés.</small></p>
            </div>
        </footer>
            {% block javascripts %}
                <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
                <script src="{{ asset('js/script.js') }}"></script>
            {% endblock %}
    </body>
</html>