{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Gestion des articles{% endblock %}

{% block body %}
    <h1>GESTION DES ARTICLES</h1>

    <a class="button standard" href="{{ path('app_admin_article_addeditarticle') }}">Créer un article</a>

    <section id="articles-search">
        <div class="card bg-light mb-3">
            <div class="card-body">
                {{ form_start(search_form) }}

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(search_form.keyword) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(search_form.pseudo) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(search_form.continent) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(search_form.country) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(search_form.categoryid) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(search_form.start_date) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(search_form.end_date) }}
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="button standard">
                        Rechercher
                    </button>
                </div>

                {{ form_end(search_form) }}
            </div>
        </div>
    </section>

    <section id="articles-list">
        {% if articles is empty %}
            <p>Aucun résultat</p>
        {% else %}
            {% for article in articles %}
                <ul class="list">
                    <li class="list-item">
                        <div class="list-item-title">Titre</div>
                        <div class="list-item-value"><a href="{{ path('app_admin_article_renderimagetemplate', {'id': article.id}) }}">{{ article.title }}</a></div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-title">ID</div>
                        <div class="list-item-value">{{ article.id }}</div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-title">Modèle</div>
                        <div class="list-item-value">{{ article.nameTemplate.templateName }}</div>
                    </li>

                    <li class="list-item">
                        <div class="list-item-title">Publié le</div>
                        <div class="list-item-value">{{ article.date|date('d/m/Y à H\\hi') }}</div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-title">Par</div>
                        <div class="list-item-value">{{ article.userid.pseudo }}</div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-title">Catégorie</div>
                        <div class="list-item-value">{{ article.categoryid.categoryName }}</div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-title">Pays</div>
                        <div class="list-item-value">{{ article.countryid.countryName }}</div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-title">Ville(s)</div>
                        <div class="list-item-value">{{ article.city }}</div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-title">Commentaire(s)</div>
                        <div class="list-item-value"><a href="{{ path('app_admin_comment_index', {'id': article.id}) }}">{{ article.comments.count }}</a></div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-title">Actions</div>
                        <div class="list-item-value">
                            <a class="button standard" href="{{ path('app_admin_article_addeditarticle', {'id': article.id}) }}">Modifier</a>
                            <a class="button delete" href="">Supprimer</a>
                        </div>
                    </li>
                </ul>
            {% endfor %}
            <table class="table-list">
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Modèle</th>
                    <th>Publié le</th>
                    <th>Par</th>
                    <th>Catégorie</th>
                    <th>Pays</th>
                    <th>Ville(s)</th>
                    <th>Commentaire(s)</th>
                    <th>Actions</th>
                </tr>

                {% for article in articles %}
                    <tr>
                        <td>
                            {{ article.id }}
                        </td>
                        <td>
                            <a href="{{ path('app_admin_article_renderimagetemplate', {'id': article.id}) }}">{{ article.title }}</a>
                        </td>
                        <td>
                            {{ article.nameTemplate.templateName }}
                        </td>
                        <td>
                            {{ article.date|date('d/m/Y à H\\hi') }}
                        </td>
                        <td>
                            {{ article.userid.pseudo }}
                        </td>
                        <td>
                            {{ article.categoryid.categoryName }}
                        </td>
                        <td>
                            {{ article.countryid.countryName }}
                        </td>
                        <td>
                            {{ article.city }}
                        </td>
                        <td>
                            <a href="{{ path('app_admin_comment_index', {'id': article.id}) }}">{{ article.comments.count }}</a>
                        </td>
                        <td>
                            <a class="button standard" href="{{ path('app_admin_article_addeditarticle', {'id': article.id}) }}">Modifier</a>
                            <a class="button delete" href="">Supprimer</a>
                        </td>
                    </tr>

                {% endfor %}
            </table>
        {% endif %}
    </section>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}">

    </script>
{% endblock %}