{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Article{% endblock %}

{% block body %}

    <h1>ARTICLE</h1>

    {{ form_start(form) }}
    {{ form_row(form.banner) }}
    {{ form_row(form.introduction) }}
    {{ form_row(form.img1) }}
    {{ form_row(form.content1) }}
    {{ form_row(form.img2) }}
    {{ form_row(form.content2) }}
    {{ form_row(form.img3) }}
    {{ form_row(form.content3) }}
    {{ form_row(form.img4) }}
    {{ form_row(form.content4) }}
    {{ form_row(form.img5) }}
    {{ form_row(form.content5) }}
    {{ form_row(form.img6) }}
    {{ form_row(form.content6) }}
    {{ form_row(form.img7) }}
    {{ form_row(form.content7) }}
    {{ form_row(form.img8) }}
    {{ form_row(form.content8) }}
    {{ form_row(form.img9) }}
    {{ form_row(form.content9) }}
    {{ form_row(form.img10) }}
    {{ form_row(form.content10) }}
    {{ form_row(form.img11) }}
    {{ form_row(form.content11) }}
    {{ form_row(form.img12) }}
    {{ form_row(form.content12) }}
    {{ form_row(form.conclusion) }}
    <div class="text-right">
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
    {{ form_end(form) }}


{% endblock %}

