{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Gestion des articles{% endblock %}

{% block body %}
    <h1>GESTION DES ARTICLES</h1>

    <a href="{{ path('app_article_addeditarticle') }}">Créer un article</a>

    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_start(search_form) }}

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(search_form.keyword) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(search_form.pseudo) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(search_form.continent) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(search_form.country) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(search_form.categoryid) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(search_form.start_date) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(search_form.end_date) }}
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-info">
                    Rechercher
                </button>
            </div>

            {{ form_end(search_form) }}
        </div>
    </div>

        {% if articles is empty %}
            <p>Aucun résultat</p>
        {% else %}

            {% for article in articles %}
            <ul>
                <li>
                    <a href="{{ path('app_article_renderimagetemplate', {'id': article.id}) }}">{{ article.title }}</a>
                </li>
                <li>Publié le <b>{{ article.date|date('d/m/Y H:i') }}</b> par <b>{{ article.userid.pseudo }}</b></li>
                <li>{{ article.categoryid.categoryName }}</li>
                <li>{{ article.countryid.countryName }}</li>
                <li>{{ article.city }}</li>
                <li>{{ article.nameTemplate.templateName }}</li>
                <li>
                    <a href="">{{ article.comments.count }}</a>
                </li>
                <li>
                    <a href="">Aperçu</a>
                </li>
                <li>
                    <a href="{{ path('app_article_addeditarticle', {'id': article.id}) }}">Modifier</a>
                </li>
                <li>
                    <a href="{{ path('app_article_deletearticletemplate', {'id': article.id}) }}">Supprimer</a>
                </li>
            </ul>
            {% endfor %}
        {% endif %}

{% endblock %}